/**
 * @autor: Livan L. Frometa Osorio <llfrometa@gmail.com>
 * @version 1.0.0
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.banner-fixed {
    width: 100%
}

#index-banner {
    padding-top: 0;
}
.search-block .tabs-search li {
    z-index: 10;
    position: relative;
    /*width: auto !important;*/
    /*min-width: 270px;*/
    display: block;
    float: left;
    height: 48px;
    margin: 0 1px;
    line-height: 48px;
    letter-spacing: .8px;
    text-align: center;
    text-transform: uppercase;
    flex-grow: 1;
    padding: 0;
    background: #f3f3f3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    border-bottom: 3px solid #26a69a;
}
.search-block .tabs-search li a.active, .search-block .tabs-search li a:hover {
    color: #26a69a;
    position: relative;
    background: #e0e0e0;
}
/*.search-container {*/
    /*position: relative;*/
    /*margin: 2rem 0;*/
    /*height: 3rem;*/
    /*z-index: 10;*/
/*}*/
@media only screen and (min-width: 993px){
    .container {
        width: 95%;
        max-width: 1250px;
    }
}

@media only screen and (max-width: 1366px){
    .search-block {
        margin-top: -56px;
    }
}

@media only screen and (min-width: 1366px){
    .search-block {
        margin-top: -56px;
    }
}

@media only screen and (max-width: 1366px){
    .home-section .search-box-container {
        top: 19rem;
    }
}

.search-block .tabs-search {
    background: none transparent;
    display: inline-block;
    width: 100% !important;
    height: 50px;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
    bottom: -5px;
}
.latam-secondary {
    background-color: #eeeeee !important;
    color: #727272;
}
.search-block .tab-container {
    color: #26a69a;
}
.search-block .tab-container #test1, .search-block .tab-container #test2,.search-block .tab-container #test3{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 3px solid #26a69a;
}
.tabs.tabs-search .indicator {
    background-color: transparent;
}

.tabs.tabs-search .tab a {
    font-size: 12px;
}

.tabs.tabs-search .tab a > i{
    font-size: 16px;
    margin-right: 5px;
}
#btn-search {
    width: 100%;
}
.tabs .tab a {
    color: #26a69a;
}
.input-field label {
    color: #ffffff;
}
nav ul a,nav .brand-logo {
    color: #26a69a;
}
.input-field label {
    color: #727272;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #26a69a;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #80cbc4;
}
.type-category {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    margin-top: -20px;
    left: 5px;
    background-color: #eeeeee !important
}
.type-category i {
    color: #26a69a;
}
.m-b-10 {margin-bottom: 10px;}
.m-b-5 {margin-bottom: 5px;}
.m-b-0 {margin-bottom: 0px;}
.m-t-0 {margin-top: 0px;}
.city-name {
    font-size: 16px;
    color: #727272;
}
.country-name {
    font-size: 16px;
    color: #727272;
}
.class-name, .final-price{
    color: #727272;
}
nav a {
    color: #26a69a;
}
.dollar-count {
    font-size: 2.57em;
    color: #727272;
    font-family: 'Latam-Sans-Black', arial, sans-serif;

}
.currency {
    display: inline-block;
    float: none;
    padding: 0;
    margin-top: 10px;
    font-size: 1.43em;
    line-height: 100%;
    vertical-align: top;
    color: #727272;
}
.from {
    margin-bottom: 7px;
    padding-bottom: 0;
    line-height: 150%;
    color: #727272;
    font-family: "Latam-Sans-Light", Arial, Helvetica, sans-serif;
    position: relative;
    top: 10px;
    font-size: 0.7em;
    font-weight: bold;
}
.contact-form .input-field label {
    color: #727272;
}
.grey-custom-text {
    color: #727272 !important;
}
#modalLogin {
    width: 40%
}
#modalLogin .input-field .prefix ~ label.active {
    left: 11px !important;
    margin-left: 2.2rem !important;
}
#modalLogin .switch {
    margin-left: -10px;
}
#modalLogin .modal-content {
    padding-bottom: 0px;
    padding-top: 5px;
}
#modalLogin #btn-register {
    margin-right: 5px
}
#formContact .input-field .prefix ~ input,#formContact .input-field .prefix ~ textarea {
    margin-left: 1rem;
}
#formContact .input-field .prefix ~ label {
    margin-left: 1rem;
}
#formContact p {
    margin-left: 1rem;
}
nav#top-fixed-nav {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.16), 0 2px 0px 0 rgba(0, 0, 0, 0.12);
    background-color: #eeeeee !important;
}
#fixed-s-icon {
    background-color: #eeeeee !important;
}
#fixed-s-icon i.s-icon {
    font-size: 16px;
    cursor: pointer;
    color: #26a69a;
    margin-top: 5px;
}

#fixed-s-icon i.s-icon:hover {
    color: #80cbc4;
}
@media only screen and (min-width: 601px){
    nav#top-fixed-nav, nav#top-fixed-nav .nav-wrapper i, nav#top-fixed-nav a.button-collapse, nav#top-fixed-nav a.button-collapse i {
        height: 55px;
        line-height: 55px;
    }
}
#index-banner img {
    height: 240px;
}
.btn {
    font-size: 0.85rem !important;
}

/*Filter lateral left*/
@media only screen and (min-width: 1200px) {
    #filters-selects{
        min-height: 445px !important;
    }
}
#filters-selects .checkbox-direct, #filters-selects-disable .checkbox-direct{
    position: relative;
    top: -5px;
}
#filters-selects .btn-search-container{
    padding-left: 25%;
    padding-right: 25%;
}
#filters-selects .chip{
    font-size: 0.85rem;
    cursor: pointer;
    background: #26a69a;
    color: #fff;
}
#filters-selects .clean-input i {
    font-size: 1.5rem;
}
#filters-selects .clean-input {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 35px;
    color: #9e9e9e;
    cursor: pointer;
    top: 10px;
}
sup {
    font-size: 10px;
    top: -.75em;
    margin-left: -.5em;
    margin-right: 0;
}
.taxes {
    font-size: 11px;
    white-space: nowrap;
    color: #717171;
    font-weight: normal;
    margin-right: 5px;
}
.pointer-air i {
    top: 5px;
    position: relative;
    color: #4caf50;
}
.currency-air {
    display: inline-block;
    float: none;
    padding: 0;
    margin-top: 0px;
    font-size: 1.43em;
    line-height: 100%;
    vertical-align: top;
    color: #727272;
}

.currency-air i.time {
    top: 3px;
    position: relative;
    font-size: 16px
}
table.air-list {
    border: 1px solid #d0d0d0;
}
table.air-list td {
    font-size: 13px;
}

a table {
    color: rgba(0, 0, 0, 0.87);
}
#section-blog-contact .container .section {
    padding-bottom: 0px;
}
.input-field label {
    left: 0rem
}
.input-field label.active{
    transform: translateY(-142%) !important;
    left: 0px;
    font-size: 12px !important;
}
.input-field .prefix ~ label.active {
    left: 11px !important;
    margin-left: 2.9rem !important;
}
.input-field .prefix ~ label {
    margin-left: 3.6rem !important;
}
table#air-list-price tr {
    cursor: pointer;
}
#title-list-flights, #title-reservation-info {
    font-size: 1.3rem;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding-left: 0;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    height: 40px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
}
.select2-container {
    width: 100% !important;
}
.select2-selection__clear {
    top: -5px;
    position: relative;
    color: #727272;
}
#icon-from, #icon-to{
    left: -15px;
    color: #727272;
}
#icon-from-filter, #icon-to-filter {
    left: 12px;
    color: #26a69a;
}
.input-field.input-field-from-filter, .input-field.input-field-to-filter {
    padding-left: 53px;
}